*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
}

body{
    background-color: #F0F3F7;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    width: 100%;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../IMG/bannerQC1.png');
    background-size: cover;
}

.navbar{
    width: 100%;
    height: 90px;
    background-color: #001429;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 10px #000;
}

#chk1{
    display: none;
}

.navbar i{
    color: #fff;
    cursor: pointer;
}

.search-box {
    flex: 1;
    position: relative;
}

.search-box input {
    width: 50%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    right: 50px;
    bottom: -20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 16px;
}

.search-box button {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    background: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.navbar ul li {
    display: flex;
    align-items: center;
}

.navbar ul li a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar ul li a:hover {
    border-bottom: 2px solid cadetblue;
}


.navbar .menu{
    font-size: 2.5em;
    display: none;
}

.bottom-navbar {
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    margin-top: 0;
}

.bottom-navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bottom-navbar a {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;
}

.bottom-navbar a i {
    margin-right: 5px;
}

.bottom-navbar a:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: #ccc;
}

.menu-bar {
    margin-top: 30px;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.menu-bar .row{
    margin: 10px;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 5.5px;
    font-size: 16px;
    transition: color 0.3s;
}

.menu-item a:hover {
    color: #007bff;
}

.menu-item img {
    width: 25px;
    margin-right: 10px;
}

.menu-item span {
    margin-left: auto;
    font-size: 12px;
    font-weight: bold;
}

.submenu {
    justify-content: space-between;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    border-radius: 5px;
    top: 0;
    left: 100%;
    width: 1000px;
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 15px;
    list-style: none;
    border: 1px solid #ccc;
    z-index: 2;
}

.submenu h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.submenu li {
    padding: 5px 0;
    
}

.submenu li a {
    color: black;
    text-decoration: none;
}

.submenu li a:hover {
    color: #007bff;
}

.submenu-box{
    display: flex;
}

.submenu-row{
    margin-right: 20px;
    width: 250px;
}
.menu-item:hover ~ .submenu, 
.menu-item:hover .submenu {
    display: block;
}

.timer{
    display: flex;
}

.flashsale-container{
    position: relative;
}
.flashsale-title{
    z-index: 2;
    margin-top: 50px;
    position: absolute;
    left: 22%;
    width: 880px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.timer .timer-title{
    margin-right: 20px;
    margin-top: 5px;
    font-size: 18px;
}

.timer-title h3{
    color: #FF0000;
}
.time-box{
    margin-right: 10px;
    width: 65px;
    height: 65px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    background: #FF0000;
    border-radius: 5px;
    color: white;
}

.time-box p{
    font-size: 20px;
}

.flashsale-body{
    position: absolute;
    width: 100%;
    top: 70px;
}

.flashsale-body img{
    width: 100%;
}

.slider li{
    list-style: none;
}

.slider{
    margin-top: 10px;
    padding: 20px 20px;
    height: 350px;
}

.slider-content{
    display: flex;
    justify-content: space-between;
}

.slider-content-left-top-container{
    position: relative;
    overflow: hidden;
    width: 105%;
}

.slider-content-left-top-container:hover i{
    opacity: 1;
}

.slider-content-left{
    width: 65%;
}

.slider-content-left-top{
    width: 105%;
    height: 280px;
    position: relative;
    transition: right 0.5s ease-in-out;
}

/* .slider-content-left-top:hover i{
    opacity: 1;
} */

.slider-content-left-bottom{
    display: flex;
    width: 105%;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 60px;
    border-radius: 0 0 10px 10px;
}

.slider-content-left-bottom li{
    width: 150px;
    text-align: center;
    cursor: pointer;
    padding: 6px 0;
    height: 100%;
    line-height: 45px;
    position: relative;
}

.slider-content-left-bottom li::before{
    display: block;
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
    right: 0;
}

.slider-content-left-bottom li.active{
    border-bottom: 4px solid #00717B;
    font-weight: bold;
}

.slider-content-right{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    justify-content: space-around;
}

.slider-content-right li{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.slider-content-left-top-btn{
    position: absolute;
    top: 50%;
    width: 99%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.slider-content-left-top-btn i{
    color: #333;
    font-size: 20px;
    height: 50px;
    width: 50px;
    background-color: rgba(253, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-20%);
    border-radius: 50px;
    opacity: 0;
    margin-left: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    pointer-events: all;
}

.register {
    background: linear-gradient(45deg, #00717B, #00A8CC); /* Nền chuyển màu */
    border-radius: 5px;
    padding: 20px; /* Tăng khoảng cách để tạo cảm giác như banner */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.register-link {
    text-decoration: none; /* Bỏ gạch chân mặc định */
}

.register button {
    background: transparent; /* Làm nền nút trong suốt */
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
}
  
.register p {
    margin: 0;
    font-size: 20px;
    color: white;
}

.slider-content-left-top img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.slider-content-left-top a {
    flex: 0 0 auto; 
}

.slider-content-left-top a:nth-child(2) img{
    transform: translateX(100%);
}
.slider-content-left-top a:nth-child(3) img{
    transform: translateX(200%);
}
.slider-content-left-top a:nth-child(4) img{
    transform: translateX(300%);
}
.slider-content-left-top a:nth-child(5) img{
    transform: translateX(400%);
}


@media (max-width: 1000px) {
    .navbar ul {
        position: absolute;
        top: 90px;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
        right: -100%; /* Hide by default */
    }

    #chk1:checked ~ ul {
        right: 0; /* Show when checked */
    }
    
    .navbar .menu {
        display: block;
        width: 100px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .navbar .logo {
        width: 10px;
    }
}

