
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f8f9fa;
}
.card {
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    position: relative;
}
.camera-icon {
    position: absolute;
    top:120px;
    right: 110px;
    background-color: #111010;
    color: #ffffff;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    display: none;
}
.position-relative:hover .camera-icon {
    display: block;
}
.btn-primary, .btn-danger {
    border-radius: 15px;
    font-weight: normal;
}
.btn-primary {
    width: 20%;
    background-color: #072e59;
}
.btn-danger {
    background-color: transparent;
    color: #dc3545;
    font-size: 1rem;
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    border: none;
    padding: 15px 10px;
}
.btn-danger:hover {
    text-decoration: underline;
}
.btn-danger i {
    margin-right: 5px;
}
.list-group-item {
    border: none;
    font-weight: normal;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.list-group-item i {
    color: #6c757d;
    font-size: 1.2rem;
    margin-right: 15px;
    min-width: 24px;
    text-align: center;
}
.list-group-item-action {
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    padding: 15px 10px;
    margin: 5px 0;
}

.list-group-item-action:hover {
    background-color: #e9ecef; /* Màu nền khi hover */
    transform: translateY(-2px); /* Dịch chuyển nhẹ lên trên */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Đổ bóng mềm */
    border-radius: 20px;
    border: 1px solid #e0e0e0;
}

.list-group-item-action.active {
    color: #150909;
    background-color: #e9ecef;
 
}
.list-group-item-action.active:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
    
}
.list-group-item i {
    color: #6c757d;
    font-size: 1.2rem;
    margin-right: 15px;
    min-width: 24px;
    text-align: center;
}
.list-group-item-action.active {
    background-color: #f0f0f0;
    color: #000;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
    font-weight: bold;
}
.list-group-item-action:focus,
.list-group-item-action:hover {
    background-color: #f0f0f0;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
}
.btn-outline-primary {
    color: #efeef1;
    border: 2px solid #3d1997; 
    background-color: #184660;
    font-size: 16px; 
    font-weight: 600; 
    margin: 10px;
    padding: 12px 50px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-outline-primary:hover {
    color: #ffffff; 
    background-color: 1877F2; 
    border-color: #2a1269; 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
}
