*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;    
}

/* Section Packages Start */
.accordion-item button{
  font-size:15px;
}
.accordion-collapse ul li{
  font-size: 13px;
}
.discount-badge {
  width: 70px; /* Adjust width to fit the text */
  background-color: red;
  color: white;
  padding: 2px 7px; /* Padding for a more compact look */
  border-radius: 15px; /* Rounded edges */
  font-size: 10px; /* Font size */
  font-weight: bold; /* Make the text bold if needed */
}

.carousel-inner{
  position: relative;
}
.nameSP{
  text-decoration: none;
  color: black;
}
.packages .card .card-body p{
    font-size: 13px;
  }
  .checked{
    color: #ffa500;
  }
  .star i{
    font-size: 13px;
  }
  .packages .card .card-body h6{
    font-size: 18px;
  }
  
  .card-body a{
    font-size: 14px;
  }
  .packages .card .card-body h6{
    font-size: 14px;
  }
  .detail{
    color: #ffffff;
    background-color: #00717B;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
  }
  /* Section Packages End */

  

