
body {
    background-color: #f8f9fa;
}
.card {
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}
.btn-primary, .btn-danger {
    border-radius: 15px;
    font-weight: normal;
}
.btn-primary {
    width: 20%;
    background-color:  #0b3b6e;
}
.btn-danger {
    background-color: transparent;
    color: #dc3545;
    font-size: 1rem;
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    border: none;
    padding: 15px 10px;
}
.btn-danger:hover {
    text-decoration: underline;
}
.btn-danger i {
    margin-right: 5px;
}
.list-group-item {
    border: none;
    font-weight: normal;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.list-group-item i {
    color: #6c757d;
    font-size: 1.2rem;
    margin-right: 15px;
    min-width: 24px;
    text-align: center;
}
.list-group-item-action {
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    padding: 15px 10px;
    margin: 5px 0;
}

.list-group-item-action:hover {
    background-color: #e9ecef; /* Màu nền khi hover */
    transform: translateY(-2px); /* Dịch chuyển nhẹ lên trên */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Đổ bóng mềm */
    border-radius: 20px;
    border: 1px solid #e0e0e0;
}


.list-group-item-action.active:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
    
}
.list-group-item i {
    color: #6c757d;
    font-size: 1.2rem;
    margin-right: 15px;
    min-width: 24px;
    text-align: center;
}
.list-group-item-action.active {
    background-color: #f0f0f0;
    color: #000;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
    font-weight: bold;
}
.list-group-item-action:focus,
.list-group-item-action:hover {
    background-color: #f0f0f0;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
}



.form-control {
    width: 400px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 16px;
    background-color: #f8f9fa;
    color: #495057;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.form-group label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
.form-control-time {
    width: 100px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 5px;
    font-size: 16px;
    background-color: #f8f9fa;
    color: #495057;
}
.form-control-time:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}
.dropdown-menu {
    max-height: 200px;  /* Giới hạn chiều cao của danh sách dropdown */
    overflow-y: auto;   /* Thêm thanh cuộn khi có nhiều tùy chọn */
}
.form-group {
    margin-bottom: 10px;
}
.dropdown-toggle{
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 16px;
    background-color: #f8f9fa;
    color: #495057;
    margin:8px 8px;
}