@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

:root {
  --primary-text: #394452;
  --btn-bg: #5d63ff;
  --overlay: rgba(16, 4, 25, 0.299);
  --modal-bg: rgba(238, 236, 243, 0.962);
  --white: #fff;
  --transition: all 1s ease;
  --primary: #181736;
}

.detail .promotion{
  display: flex;
  align-items: center; 
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  width: 48%;
  border: 1px solid #ccc;
}

.detail .product-info .card-header{
  height: 2.5rem;
}

.detail .product-info .card-header .btn {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.detail .modal-promotion .modal-body img{
  max-width: 200px;
  height: auto;
  object-fit: contain;
  margin-right: 10px;
}

.detail .card{
  padding: 20px;
}

.detail .slider {
  text-align: center;
}

.detail .slider-item {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.detail .slider-item img {
  margin: 2px;
  width: 58px;
  height: 58px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}


.detail .slider-item::-webkit-scrollbar {
  display: none; 
}

.detail .slider-item {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.detail .price{
  font-size: 25px;
  color: #ff0000;
  font-weight: 900;
}

.detail .discount{
  color: #ff0000;
}
.detail .modal-body li {
  list-style: none;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.detail .modal-body li img {
  width: 120px;
  margin-right: 15px;
}

.detail .discount-detail {
  text-align: left;
  width: 200px;
}

.detail .card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail.promotion-detail{
  flex: 1;
  height: 90px;
}

.detail .promotion-detail a{
  text-decoration: none;
  color: blue;
  margin: 0;
}

.detail .promotion-detail p{
  margin: 0;
}
.detail .card-body .promotion-img{
  width: 50px;
}

.detail .card-body .card{
  width: 290px;
}

.detail .btn-bottom {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail .btn-bottom p{
  font-size: 12px;
  margin: 0;
}

.detail .btn-custom1{
  height: 55px;
  width: 45%;
  font-size: 18px;
  line-height: 1.5;
  background-color: #00717B;
  color: white;
  border-radius: 5px;
  text-align: center;
  margin: 0;
}

.detail .btn-custom1:hover{
  background-color: white;
  border: 2px solid #00717B;
  color: #00717B;
}

.detail .btn-dropdown {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px 15px;
  border-radius: 20px;
}

.detail .btn-dropdown:hover {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(204, 204, 204, 0.7);
  padding: 10px 15px;
  border-radius: 20px;
}

.detail .hidden {
  display: none !important;
}

.detail table {
  width: 100%;
  border-collapse: collapse; 
}

.detail td {
  padding: 10px; 
  text-align: left;
}

.detail td:first-child {
  width: 40%;
}

.detail tr:nth-child(even) {
  background-color: #f2f2f2;
}

.detail tr:nth-child(odd) {
  background-color: #ffffff;
}

.extra-info1 table tr:first-child {
  background-color: #f2f2f2;
}

.extra-info1 table tr:nth-child(even) {
  background-color: #ffffff;
}

.extra-info1 table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.detail .descript-product{
  position: relative;
  padding-bottom: 30px;
}

.detail .specifications{
  position: relative;
  padding-bottom: 50px;
}

.detail .rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detail .rating .score {
  font-size: 36px;
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

.detail .rating .stars {
  display: flex;
}

.detail .rating .stars .star {
  color: #ffc107;
  font-size: 18px;
}

.detail .reviews {
  margin-top: 20px;
}

.detail .review {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.detail .review .user {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.detail .review .user .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.detail .review .user .name {
  font-weight: bold;
  color: #333;
}

.detail .review .content {
  color: #555;
}

/* swiper */
.detail .main-image-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.detail .main-image-container .img img {
  width: 100%;
  height: auto;
}

.detail .main-image-container .overlay {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 0.3s ease;
}

.detail .main-image-container:hover .overlay {
  clip-path: circle(70.7% at 50% 50%);
}

.detail .overlay ion-icon {
  font-size: 3.5rem;
  color: #fff;
  background: #007bff;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.detail .swiper {
  width: 100%;
  
}

.detail .swiper-button-next,
.detail .swiper-button-prev {
  color: #007bff;
}

.detail .swiper-button-next::after,
.detail .swiper-button-prev::after {
  font-size: 2rem !important;
}

.detail .main .swiper-slide {
  text-align: center;
}

.detail .main .swiper-slide img {
  width: 100%;
  height: 320px;;
  object-fit: contain;
  border-radius: 5px;
}

.detail .thumbnail-slider,
.detail .thumbnail-slider .swiper-wrapper {
  margin: 0 auto;
}

.detail .thumbnail-slider .swiper-slide {
  width: 80px !important;  
  height: 80px !important;
  padding: 0px;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.detail .thumbnail-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.detail .thumbnail-slider .swiper-slide-thumb-active {
  border: 2px solid rgb(165, 165, 165) !important; /* Border cho thumbnail đang được chọn */
}

.detail .rating-slider {
  text-align: center;
  margin-top: 20px;
}

.detail .stars {
  display: inline-block;
  cursor: pointer;
}

.detail .star {
  font-size: 50px;
  margin: 5px;
  cursor: pointer;
  color: #ccc;
}


.detail  .star.hover {
  color: gold;
}

.detail .star.selected {
  color: gold;
}

.detail .star-outer{
  display: flex;
  justify-content: center;
}

.detail .star-icon {
  color: gold;
  font-size: 20px;
}

.detail .rating-summary {
  margin-top: 20px;
  text-align: left;
}

.detail .rating-count {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.detail .progress {
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
  width: 65%;
  margin: 0 10px;
}

.detail .progress-bar {
  background-color: #00717B;
  height: 100%;
  transition: width 0.5s;
}

.detail .rating-avg{
  text-align: center;
  padding: 30px;
  margin: 20px;
  border-radius: 20px;
}

.detail .rating-avg h1{
  color: #00717B;
  font-weight: bold;
}
.detail .rating-avg p{
  font-size: 20px;
  color: #00717B;
  font-weight: bold;
}

.detail .btn-rating{
  background-color: #00717B;
  color: #fff;
}

.detail .btn-rating:hover{
  background-color: white;
  border: 2px inherit #00717B;
  color: #00717B;
}
.detail .comment-rating {
    padding-left: 10px !important; /* Thêm khoảng cách bên trái */
    box-sizing: border-box;
}

.detail .wrapper {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  margin: 0 auto;
}

.detail .wrapper header {
    color: #00717B;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.detail .wrapper form {
    height: 167px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #00717B;
}

.detail form :where(i, p) {
    color: #00717B;
}

.detail form i {
    font-size: 50px;
}

.detail form p {
    margin-top: 15px;
    font-size: 16px;
}

.detail section .row {
    margin-bottom: 10px;
    background: #00717B;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail section .row i {
    color: white;
    font-size: 30px;
}

.detail section .details span {
    font-size: 14px;
}

.detail .progress-area .row .content {
    width: 100%;
    margin-left: 15px;
}

.detail .progress-area .details {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}

.detail .progress-area .content .progress-bar {
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
}

.detail .content .progress-bar .progress {
    height: 100%;
    width: 0%;
    background: #00717B;
    border-radius: inherit;
}

.detail .uploaded-area {
    max-height: 232px;
    overflow-y: scroll;
}

.detail .uploaded-area.onprogress {
    max-height: 150px;
}

.detail .uploaded-area::-webkit-scrollbar {
    width: 0px;
}

.detail .uploaded-area .row .content {
    display: flex;
    align-items: center;
}

.detail .uploaded-area .row .details {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.detail .details .name{
  color: white;
}

.detail .uploaded-area .row .details .size {
    color: white;
    font-size: 11px;
}

.detail .uploaded-area i.fa-check {
    font-size: 16px;
}

.detail .row.align-items-center {
  display: flex;
  justify-content: space-between;
}

.detail .name-rating {
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

.img-rating{
  width: 25%;
}

/* Ngôi sao */
.detail .star-outer {
  display: flex;
  direction: row;
}

.detail .star {
  font-size: 30px; 
  color: lightgray;
  position: relative;
  cursor: pointer;
}

.detail .star.selected {
  color: gold;
}

.detail .star.half {
  color: gold; 
  overflow: hidden;
  position: relative;
}

.detail .star.half::before {
  content: '\2605';
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
  color: gold; 
}

.detail .star.half::after {
  content: '\2605';
  position: absolute;
  left: 50%; 
  width: 50%; 
  overflow: hidden;
  color: lightgray; 
}

.detail .average-star {
  font-size: 30px;
  color: lightgray;
  position: relative;
}

.detail .average-star.selected {
  color: gold;
}

.detail .average-star.half {
  color: gold; 
  overflow: hidden;
  position: relative;
}

.detail .average-star.half::before {
  content: '\2605';
  position: absolute;
  left: 0;
  width: 50%;
  color: lightgray;
}

.detail .average-star.half::after {
  content: '\2605';
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
  color: gold;
}

.detail .btn-custom2{
  border: 3px solid #ccc; 
  background-color: white;
  color: black;
}

.detail .btn-custom2:hover {
  background-color: #bbb; 
  color: black;
}

.detail .btn-custom2.active {
  background-color: #00717B;
  color: white;
  border: none;
  transition: background-color 0.3s, color 0.3s; 
}

.detail .recommendation-header{
  background-color: #00717B;
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail .recommendation-body .product-item{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.detail .comment{
  display: flex;
}

.detail .comment .user-avatar{
  display: flex;
  justify-content: center;
}

.detail .comment .user-avatar img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.detail .comment .name-account{
  display: flex;
  align-items: center;
  font-weight: bold;
}

.detail .comment .comment-text{
  max-width: 100%;
  margin: 0;
}

.detail .comment .comment-img{
  margin-top: 5px;
  display: flex;
  gap: 5px;
  max-width: 30%;
}

.detail .comment .comment-img img{
  height: 100px;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 10px;
  object-fit: cover;
}

.detail .comment hr{
  border: 1px solid #ccc;
  margin: 10px 0;
}

.detail .product-template .badge {
    position: absolute;
    top: -1%;
    left: -17px;
}

.detail .product-template .badge span {
    position: absolute;
    /* Ensure the text is placed on top of the image */
    z-index: 9999;
    color: white;
    font-weight: bold;
    top: 10px;
    /* Move text 10px down */
    left: 20px;
    /* Move text 5px to the right */
}
.detail .product-template img {
    width: -webkit-fill-available;
}

.detail .product-template p {
    margin: 0;
    font-size: 16px;
}

.detail .product-template .current-price {
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;
}

.detail .product-template .listed-price {
    font-size: 14px;
    text-decoration: line-through;
}

.detail .product-template .star-product i {
    font-size: 13px;
}

.detail .product-template .checked {
    color: #ffa500;
}

.detail .product-template .detail-btn {
    color: #ffffff;
    background-color: #00717B;
    padding: 3px 7px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
}

.detail .discount-label {
    position: relative;
    top: 3px;
    left: 0px;
    background-color: #e10000;
    color: white;
    font-weight: bold;
    padding: 7px 10px;
    border-radius: 15px 20px 20px 5px;
    font-size: 14px;
    text-align: center;
}

.detail .discount-label::before {
    content: "";
    /* Nội dung rỗng vì đây là hiệu ứng trang trí */
    position: absolute;
    z-index: -1;
    /* Đưa nó ra sau phần nội dung */
    width: 10px;
    height: 13px;
    top: 22px;
    left: 0px;
    background-color: #640c0cf7;
    border-bottom-left-radius: 8px;
}

.detail .star-product{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail .descript-img{
  width: 50%;
  display: block;
  margin: 0 auto;
}
@media (max-width: 521px) {
  .main .swiper-slide img {
    max-width: 100%;
    max-height: 40rem; 
    border-radius: 1rem;
    object-fit: cover;
  }
  .thumbnail-slider {
    width: 100%;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 2rem !important;
  }
}
@media (max-width: 415px) {
  .main .swiper-slide img {
    max-width: 35rem;
    max-height: 35rem;
  }
  .main-image-container {
    width: 90%;
  }
  .main-image-container .img {
    text-align: center;
  }
  .main-image-container .img img {
    width: 100%;
  }
}

@media (max-width: 340px) {
  .main-image-container .img img {
    width: 90%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
    align-items: center;
  }
  .contact-info, .support-customer, .policy, .payment-method {
    width: 100%;
    text-align: center;
  }
}